/* Variáveis */
:root {
    --bg-black: #000000;
    --bg-card: #181818;
    --bg-card-hover: #282828;
    --spotify-green: #1db954;
    --score-color: #ffc107;
    --text-grey: #b3b3b3;
}

body {
    margin: 0;
    background-color: var(--bg-black);
    color: white;
    display: flex;
    font-family: sans-serif;
}

.sidebar {
    width: 240px;
    height: 100vh;
    position: fixed;
    background: black;
    padding: 20px;
}

.content {
    margin-left: 240px;
    width: calc(100% - 240px);
    padding: 40px;
}

/* Alinhamento dos Cards em Grade */
fieldset {
    border: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

/* Estilização do Card */
.musica {
    background-color: var(--bg-card);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* Título em cima, estrelas embaixo */
    align-items: center;
    text-align: center;
    transition: 0.3s;
}

.musica:hover {
    background-color: var(--bg-card-hover);
}

.musica h2 {
    font-size: 1rem;
    margin-bottom: 15px;
    height: 40px;
    /* Mantém alinhamento se o nome for longo */
}

/* Sistema de estrelas */
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 5px;
}

.star-rating input {
    display: none;
}

.star-rating label {
    font-size: 1.8rem;
    color: #333;
    cursor: pointer;
    transition: color 0.2s;
}

.star-rating label:hover,
.star-rating label:hover~label,
.star-rating input:checked~label {
    color: var(--score-color);
}

/* Botões */
.actions {
    grid-column: 1 / -1;
    /* Faz os botões ocuparem a linha toda abaixo dos cards */
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

input[type="button"] {
    padding: 12px 25px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}